*
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body
  font-size: 10px
  font-family: $font-main
  color: $color-text

  @media (max-width: 1023px)
    font-size: 8px

.body
  min-height: 100vh
  display: flex
  flex-direction: column

.center-container
  max-width: 1350px
  margin: 0 auto

.main-text
  font-size: 2.5rem
  line-height: 3rem
  font-weight: 400
